@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;

  &__buttons__wrapper {
    display: flex;
    flex-direction: row;
  }
  &__data {
    margin-top: 10px;
  }

  &__CreateTodoScreen,
  &__renameTodo {
    margin-top: -10px;
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px solid black;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    display: inline;
    padding: 5px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 4px;
    box-shadow: 10px 13px 24px -6px rgba(0, 0, 0, 1);
    text-align: center;
    transition: 0.5s;
  }

  &__input:active {
    transform: scale(1.2);
  }

  &__button {
    display: inline;
  }
}
