@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;

  &__heading {
    font-size: 40px;
    text-shadow: 2px 4px 3px #878787;
    transition: 1.5s;
  }

  &__heading:hover {
    cursor: pointer;
    text-shadow: 2px 4px 3px #000000be;
    transform: scale(1.1);
  }

  &__buttons__wrapper {
    display: flex;
    flex-direction: row;
  }
  &__data {
    margin-top: 10px;
  }
}
