.homePage__Btn {
  background-color: white;
  color: rgb(59, 59, 59);

  border: 1px solid rgb(59, 59, 59);
  border-radius: 3px;
  padding: 5px;
  margin: 0 10px;
  transition: 0.5s;
}

.homePage__Btn:hover {
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  color: rgb(0, 0, 0);
  transform: scale(1.1);
}
