.todo {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  &__title {
    display: inline-block;
    margin: 5px 5px;
  }

  &__status {
  }

  &__buttons {
    display: inline;

    &__btn {
      margin: 0 5px;
      background: none;
      border: none;
      padding: 2px;
    }

    &__btn:hover {
      cursor: pointer;
    }
  }
}
